.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #3498db; /* Fallback */
  border-top: 6px solid;
  border-left: 6px solid;
  border-image: linear-gradient(45deg, #ff6b6b, #1e90ff) 1;
  animation: spin 1.5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
